<!DOCTYPE html>
<html lang="en" manifest="gluadocs.appcache">
<head>
	<title>GLua Docs</title>
	<meta charset="utf-8">
	<meta name="keywords" content="glua, lua, docs, documentation, gmod, garrys, garry, mod, wiki">
	<meta name="description" content="Quick documentation lookup for Garry's Mod Lua.">
	<meta name="author" content="Samuel Maddock">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/lua-obsidian.css">
	<script src="js/lib/angular.min.js" type="text/javascript"></script>
	<script src="js/app.js" type="text/javascript"></script>
	<script src="js/controllers.js" type="text/javascript"></script>
</head>
<body>

	<div class="wrapper">

		<header>

			<div class="title">
				GLua Docs
			</div>

			<nav>
				<ul>
					<li><a href="http://github.com/samuelmaddock/glua-docs" target="_blank">GitHub</a></li>
					<li><a href="http://github.com/samuelmaddock/glua-docs/issues" target="_blank">Bugs</a></li>
					<li><a href="http://wiki.garrysmod.com/" target="_blank">Wiki</a></li>
				</ul>
			</nav>

		</header>

		<div class="site" ng-app="docsApp" ng-controller="DocsCtrl">

			<div class="wrapper">

				<div class="search-container">

					<div class="wrapper">

						<div class="search-header">
							<input type="search" placeholder="Type a hook or function name" ng-model="queryModel" ng-change="updateQuery()" spellcheck="false" autofocus />
						</div>

						<ul id="results" class="scroll">
							<li ng-repeat="fn in functions|orderBy:scopedOrder|filter:{title:query}" class="{{fn.scope}}"><a href="#{{fn.title}}" ng-click="selectFunction(fn)">{{fn.title}}</a></li>
						</ul>

					</div>

				</div>

				<div class="doc-container">

					<div class="wrapper scroll" ng-show="query == ''">
						<div class="doc">
							<h1>Begin by typing in a function</h1>
						</div>
					</div>

					<div class="wrapper scroll" ng-show="query != ''">

						<article class="doc" ng-repeat="fn in functions|orderBy:scopedOrder|filter:{title:query}|limitTo:30" doc-rainbow>
							<h1 class="{{fn.scope}}"><a href="{{fn.url}}" target="_blank">{{fn.title}}</a></h1>
							<div class="wiki" ng-bind-html-unsafe="fn.html"></div>
						</article>

					</div>

				</div>

			</div>

		</div>

	</div>

	<script async src="js/lib/rainbow-custom.min.js" type="text/javascript"></script>

</body>
</html>