/* fonts */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular-webfont.eot');
	src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('eot'),
         url('../fonts/Roboto-Regular-webfont.svg') format('svg'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* css reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* clearfix */
.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

html, body { width: 100%; height: 100%; }

body {
	background-color: rgb(189, 195, 199);
	font-family: 'Roboto', sans-serif;
	font-size: 11pt;
}

*::selection {
	color: white;
	background-color: rgba(0,0,0,0.22);
	text-shadow: 0px 0px 6px white;
}

input {
	font: inherit;
}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

/* Header bar */

header {
	width: 100%;
	height: 40px;
	background-color: rgb(127, 140, 141);
	color: rgba(255,255,255,0.44);
}

header .title {
	display: inline-block;
	height: 100%;
	width: 200px;
	padding-left: 7px;
	font-size: 28pt;
	line-height: 35pt;
}

header nav {
	float: right;
	width: auto;
	height: 100%;
}

nav > ul {
	height: 100%;
	text-align: center;
	font-size: 0;
}

nav > ul li {
	display: inline-block;
	height: 100%;
}

nav > ul li:hover {
	background-color: rgba(255,255,255,0.11);
}

nav > ul li a {
	display: block;
	height: 100%;
	font-size: 11pt;
	line-height: 32pt;
	padding-left: 10px;
	padding-right: 10px;
}

nav > ul li a, nav > ul li a:visited {
	color: rgba(255,255,255,0.44);
	text-decoration: none;
}

nav > ul li a:hover {
	color: rgba(255,255,255,0.88);
}

.site {
	position: absolute;
	top: 40px; bottom: 0;
	left: 0; right: 0;
}


/* Search */

.search-container {
	background-color: rgba(236, 240, 241,1.0);
	position: absolute;
	top: 0; bottom: 0;
	left: 0;
	width: 280px;
}

.search-header {
	height: 40px;
	font-size: 0;
	overflow: hidden;
}

.search-header input[type=search] {
	width: 100%;
	height: 100%;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	outline: none;
	font-size: 10pt;
	line-height: 12pt;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#results {
	display: block;
	position: absolute;
	top: 40px; bottom: 0;
	left: 0; right: 0;
	font-size: 10pt;
	overflow-x: hidden;
}

#results li {
	color: #666;
}

#results li:hover {
	background-color: rgba(0,0,0,0.06);
}

#results li.server:hover {
	background-color: rgba(52, 152, 219,0.11);
}

#results li.shared:hover {
	background-color: rgba(230, 126, 34,0.11);
}

#results li.client:hover {
	background-color: rgba(241, 196, 15,0.11);
}

#results li.menu:hover {
	background-color: rgba(46, 204, 113,0.11);
}

#results li a, #results li a:hover, #results li a:active {
	display: block;
	padding: 4px 11px 4px 11px;
	color: inherit;
	text-decoration: none;
}


/* Documents */

.doc-container {
	position: absolute;
	top: 0; bottom: 0;
	left: 280px; right: 0;
}

.doc {
	padding: 15px;
	color: #444;
}

.doc h1 {
	font-size: 22pt;
	font-weight: bold;
	margin-bottom: 15px;
}

.doc h1 > a {
	color: inherit;
	text-decoration: none;
}

/* Scrollbar */

.scroll {
	overflow: auto;
}

.scroll::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
	overflow: visible;
	background-color: rgba(0,0,0,0.11);
}

.scroll::-webkit-scrollbar-button {
	height: 0;
	display: block;
	background-color: transparent;
}


/* Lua states */

.server {
	color: rgba(52, 152, 219,1.0) !important;
}

.shared {
	color: rgba(230, 126, 34,1.0) !important;
}

.client {
	color: rgba(241, 196, 15,1.0) !important;
}

.menu {
	color: rgba(46, 204, 113,1.0) !important;
}

/* Wiki CSS */

.wiki .toc {
	display: none;
}

.wiki h1 {
	font-size: 16pt;
}

.wiki p {
	padding: 5px;
	padding-left: 15px;
	line-height: 16pt;
}

.wiki span[id=Example] {
	font-size: 14pt;
}

.wiki span[id*=Arguments_] {
	display: none;
}

.wiki h1 + p, .wiki .argument, .wiki .return {
	margin-bottom: 15px;
}

.wiki pre, .wiki .function_line, .wiki code {
	display: block;
	color: white;
	background-color: #454545;
	padding: 10px;
	margin: 10px;
	border-radius: 4px;
	font-size: 10pt;
	white-space: pre;
	overflow: auto;
	max-width: 750px;
}

.wiki a, .wiki a:visited, .wiki a:hover, .wiki a:active {
	color: #3498db;
	text-decoration: none;
}

.wiki a:hover {
	text-decoration: underline;
}

@media (min-width: 500px) and (max-width: 700px) {
	.search-container {
		width: 40%;
	}
	.doc-container {
		left: 40%;
	}
}

@media (max-width: 500px) {
	.search-container {
		width: auto;
		top: 0; bottom: auto;
		left: 0; right: 0;
		height: 200px;
	}
	.doc-container {
		width: 100%;
		height: auto;
		top: 200px; bottom: auto;
		left: 0; right: 0;
	}
}