<!DOCTYPE html>
<!-- devcode:prod -->
<html lang="en" manifest="manifest.appcache">
<!-- endcode -->

<!-- devcode:dev -->
<html lang="en">
<!-- endcode -->
<head>
	<title>GLua Docs</title>

	<meta charset="utf-8">
	<meta name="keywords" content="glua, lua, docs, documentation, gmod, garrys, garry, mod, wiki">
	<meta name="description" content="Quick documentation lookup for Garry's Mod Lua.">
	<meta name="author" content="Samuel Maddock">

	<link rel="shortcut icon" href="favicon.png">

	<!-- devcode:prod -->
	<link rel="stylesheet" href="css/style.min.css">
	<!-- endcode -->

	<!-- devcode:dev -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<!-- endcode -->

</head>
<body>

	<div class="wrapper">

		<header>

			<div class="title">GLua Docs</div>

			<nav>
				<ul>
					<li><a href="http://github.com/samuelmaddock/glua-docs" target="_blank">GitHub</a></li>
					<li><a href="http://github.com/samuelmaddock/glua-docs/issues" target="_blank">Bugs</a></li>
					<li><a href="http://wiki.garrysmod.com/" target="_blank">Wiki</a></li>
				</ul>
			</nav>

		</header>

		<div class="site" ng-app="docsApp" ng-controller="DocsCtrl">

			<div class="wrapper">

				<div class="search-container">

					<div class="wrapper">

						<div class="search-header">
							<input type="search" placeholder="Type a hook or function name" ng-model="queryModel" ng-change="updateQuery()" spellcheck="false" autofocus />
						</div>

						<ul id="results" class="scroll"><div id="s_top"/>
							<li ng-repeat="fn in functions|orderBy:scopedOrder|filter:{title:query}" class="{{fn.scope}}">
								<a ng-show="$index < 100" ng-click="scrollTo(fn.title)">{{fn.title}}</a>
								<a ng-show="$index > 99" ng-click="selectFunction(fn)">{{fn.title}}</a>	
							</li>
						</ul>

					</div>

				</div>

				<div class="doc-container">

					<div class="wrapper scroll" ng-show="query == ''">
						<div class="doc">
							<h1>Begin by typing in a function</h1>
							<p>
								Functions are organized by&nbsp;
								<span class="server">Server</span>,&nbsp;
								<span class="shared">Shared</span>,&nbsp;
								<span class="client">Client</span>,&nbsp;
								and <span class="menu">Menu</span>&nbsp;
								Lua states.
							</p>
						</div>
					</div>

					<div class="wrapper scroll" ng-show="query != ''"><div id="top"/>

						<article class="doc" ng-repeat="fn in functions|orderBy:scopedOrder|filter:{title:query}|limitTo:100" doc-rainbow><div id="{{fn.title}}">

							<h1>

								<a href="{{fn.url}}" class="{{fn.scope}}" target="_blank">{{fn.title}}</a>

								<a href="https://github.com/garrynewman/garrysmod/search?q={{fn.title}}" class="extra" target="_blank"><i class="icon-github"></i></a>

							</h1>

							<div class="title-links">
								
							</div>

							<div class="wiki" ng-bind-html-unsafe="fn.html"></div>

						</article></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<script src="js/lib/angular.min.js" type="text/javascript"></script>

	<!-- devcode:prod -->
	<script src="js/gluadocs.min.js" type="text/javascript"></script>
	<!-- endcode -->

	<!-- devcode:dev -->
	<script src="js/app.js" type="text/javascript"></script>
	<script src="js/controllers.js" type="text/javascript"></script>
	<script src="js/directives.js" type="text/javascript"></script>
	<!-- endcode -->

	<script async src="js/lib/rainbow-custom.min.js" type="text/javascript"></script>

	<!-- devcode:prod -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-25136174-6', 'samuelmaddock.github.io');
	ga('send', 'pageview');
	</script>
	<!-- endcode -->

</body>
</html>
